<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>BookMySpot</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Paix Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
<script src="javascripts/jquery.min.js"></script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="javascripts/move-top.js"></script>
<script type="text/javascript" src="javascripts/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--start-header-->
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="/"  class="active hvr-bounce-to-bottom">Home</a></li>
						<li><a href="/about" class="hvr-bounce-to-bottom">About</a></li>
						<li><a href="/services" class="hvr-bounce-to-bottom">Services</a></li>
						<li><a href="/typo" class="hvr-bounce-to-bottom">Typo</a></li>
						<li><a href="/contact" class="hvr-bounce-to-bottom">Contact</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!-- script-for-menu -->
    <!--start location form -->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<h1>Find a sweet spot</h1>
				<div class="banner-bottom">
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Ckeck In</p>
						</div>
						<div class="bnr-right">
							<input class="date" id="datepicker" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>City</p>
						</div>
						<div class="bnr-right">
							<select name="select1" id="select1">
								<option  class="rm" value="1">Mumbai</option>
								<option  class="rm" value="2">Bangalore</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Locality</p>
						</div>
						<div class="bnr-right">
							<select name="select2" id="select2">
								<option value="1">Hiranandani</option>
								<option value="1">Mulund</option>
								<option value="1">Andheri</option>
								<option value="1">Vashi</option>
								<option value="2">Kormangala</option>
								<option value="2">BTM Layout</option>
								<option value="2">Whitefield</option>
								<option value="2">Airport</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-btn">
						<form>
							<input type="submit" value="Search">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$("#select1").change(function() {
	  if ($(this).data('options') == undefined) {
	    /*Taking an array of all options-2 and kind of embedding it on the select1*/
	    $(this).data('options', $('#select2 option').clone());
	  }
	  var id = $(this).val();
	  var options = $(this).data('options').filter('[value=' + id + ']');
	  $('#select2').html(options);
	});
	</script>
	<!--end location form -->

	<!--start-banner
	<div class="banner">
		<div class="container">
			<div class="banner-top">
				<h1>Booking</h1>
				<div class="banner-bottom">
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Ckeck In</p>
						</div>
						<div class="bnr-right">
							<input class="date" id="datepicker" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Hours</p>
						</div>
						<div class="bnr-right">
							<select>
								<option  class="rm" value="1">1</option>
								<option  class="rm" value="2">2</option>
								<option  class="rm" value="3">3</option>
								<option  class="rm" value="4">4</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Adults</p>
						</div>
						<div class="bnr-right">
							<select>
								<option  class="rm" value="1">1</option>
								<option  class="rm" value="2">2</option>
								<option  class="rm" value="3">3</option>
								<option  class="rm" value="4">4</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Table</p>
						</div>
						<div class="bnr-right">
							<select>
								<option value="volvo">Select a type</option>
								<option value="2">2 - seater</option>
								<option value="4">4 - seater</option>
								<option value="6">6 - seater</option>
								<option value="8">8+ - seater</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-btn">
						<form>
							<input type="submit" value="Search a Spot">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	end-banner-->
	<!---start-date-piker---->
		<link rel="stylesheet" href="stylesheets/jquery-ui.css" />
		<script src="javascripts/jquery-ui.js"></script>
			<script>
				$(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
				});
			</script>
	<!---/End-date-piker---->
	<!---start-why-->
	<div class="why" id="about">
		<div class="container">
			<div class="why-top heading">
				<h3>WHY?</h3>
				<p>Lorem ipsum dolor sit amet</p>
			</div>
			<div class="why-bottom">
				<div class="col-md-4 why-left">
					<span class="w-one"></span>
					<p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo. Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
				</div>
				<div class="col-md-4 why-left">
					<span class="w-two"></span>
					<p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo. Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
				</div>
				<div class="col-md-4 why-left">
					<span class="w-tre"></span>
					<p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo. Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-why-->
	<!--start-how-->
	<div class="how">
		<div class="container">
			<div class="how-bottom">
				<div class="col-md-6 how-left">
					<img src="images/h-1.jpg" alt="" />
				</div>
				<div class="col-md-6 how-right">
					<div class="how-top heading">
						<h3>HOW</h3>
					</div>
					<p>Phasellus sit amet purus sagittis, fringilla dui vel, tristique justo. Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit. Morbi sit amet elementum lacus. In hac habitasse platea dictumst. Suspendisse lacus.</p>
					<div class="h-btn">
						<a href="#">More</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-how-->
	<!--start-secure-->
	<div class="secure">
		<div class="container">
			<div class="secure-top">
				<div class="col-md-4 secure-left">
					<h4>Nam sit amet mi et</h4>
					<p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et tristique id, sagittis vel tortor.</p>
				</div>
				<div class="col-md-4 secure-left">
					<h4>Duis ut ultricies nisl</h4>
					<p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et tristique id, sagittis vel tortor.</p>
				</div>
				<div class="col-md-4 secure-left">
					<h4>Nulla quis blandit purus</h4>
					<p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et tristique id, sagittis vel tortor.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-secure-->
	<!--start-test-->
	<div class="test" id="testimonials">
		<div class="container">
			<div class="test-top">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="test-one">
									<div class="col-md-4 test-left">
										<img src="images/test-1.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Johnson</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-2.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Lora Smith</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-3.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Eva Adamson</h4>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="test-one">
									<div class="col-md-4 test-left">
										<img src="images/test-2.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Lora Smith</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-3.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Eva Adamson</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-1.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Johnson</h4>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="test-one">
									<div class="col-md-4 test-left">
										<img src="images/test-3.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Eva Adamson</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-1.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Johnson</h4>
									</div>
									<div class="col-md-4 test-left">
										<img src="images/test-2.png" alt="" />
										<p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum convallis, ante et commodo malesuada.</p>
										<h4>Lora Smith</h4>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!--end-test-->
	<!--FlexSlider-->
	<link rel="stylesheet" href="stylesheets/flexslider.css" type="text/css" media="screen" />
	<script defer src="javascripts/jquery.flexslider.js"></script>
	<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
		});
		</script>
	</div>
			<!--End-slider-script-->
	<!--start-blog-->
	<div class="news" id="news">
		<div class="container">
			<div class="news-top heading">
				<h3>LATEST NEWS</h3>
			</div>
			<div class="news-bottom">
				<div class="news-one">
				<div class="col-md-6 news-left">
					<div class="n-left">
						<img src="images/blog-1.png" alt="" />
					</div>
					<div class="n-right">
						<h4>Sed Condimentum Enim Sem</h4>
						<p class="admin">commodo malesuada.</p>
						<p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 news-left">
					<div class="n-left">
						<img src="images/blog-2.png" alt="" />
					</div>
					<div class="n-right">
						<h4>Sed Condimentum Enim Sem</h4>
						<p class="admin">commodo malesuada.</p>
						<p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				</div>
				<div class="news-one">
				<div class="col-md-6 news-left">
					<div class="n-left">
						<img src="images/blog-3.png" alt="" />
					</div>
					<div class="n-right">
						<h4>Sed Condimentum Enim Sem</h4>
						<p class="admin">commodo malesuada.</p>
						<p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 news-left">
					<div class="n-left">
						<img src="images/blog-4.png" alt="" />
					</div>
					<div class="n-right">
						<h4>Sed Condimentum Enim Sem</h4>
						<p class="admin">commodo malesuada.</p>
						<p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--end-blog-->
	
	<!--start-footer-->
	<div class="footer">
		<div class="container">
		<div class="touch-top heading">
				<h3>FOLLOW US</h3>
			</div>
			<div class="touch-bottom">
				<p>Flat 501, Horizon Point</p>
				<h6 >Neptune Living Point Society</h6>
				<p>Bhandup West, Mumbai- 400078</p>
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twit"> </span></a></li>
					<li><a href="#"><span class="google"> </span></a></li>
				</ul>
			</div>
			<div class="footer-top">
				<p class="footer-class">© 2016 Bookmyspot All Rights Reserved |</p>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->

	<!-- FB login started -->
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '595421003964831',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
	<!-- FB login ended -->
</body>
</html>